:root{
    --first-color: #3e3e3e;
    --second-color: #ffffff;
}
.main_banner{
    display: grid;
    place-items: center;
    margin-bottom: 400px;
}
.main_banner_logo{
    margin-top: 7%;
    height: 50%;
    max-width: 500px;
    max-height: 222px;
    color: var(--first-color);
}
.main_title{
    font-family: sans-serif,Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 52px;
    color: #3E3E3E;
}

.circle-down-arrow{
    margin-top: 7%;
}

.circle-down-arrow:hover{

}

html {
  scroll-behavior: smooth;
}

p{
    padding: 10px 15vw;
    font-family: sans-serif,Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    max-width: 70em;
    min-width: 10px;
}
