:root{
    --first-color: #3e3e3e;
    --second-color: #ffffff;
}
.main_banner{
    display: grid;
    place-items: center;
    margin-bottom: 30vh;
}
.main_banner_logo{
    margin-top: 10vh;
    height: 20vh;
    /*max-width: 500px;*/
    /*max-height: 222px;*/
    color: var(--first-color);
}
.main_title{
    margin-top: 2vh;
    font-family: sans-serif,Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3.0vh;
    line-height: 7vh;
    color: #3E3E3E;
}

.circle-down-arrow{
    width: 5vh;
    height: 5vh;
}

.arrow-image{
    margin-top: 8vh;
    width: 5vh;
    height: 5vh;
}

.circle-down-arrow:hover{

}

html {
  scroll-behavior: smooth;
}

p{
    padding: 4vh 15vw;
    font-family: sans-serif,Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    text-align: center;
    max-width: 70em;
    min-width: 10px;
}
