@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,600&display=swap');

.contact_container{
    margin: 0 !important;
}

.contact_panel {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 50px;
}

@media only screen and (max-width: 992px) {

    .contact_panel_socials {

    }

    .contact_icon {
       
        margin: 1% !important;
    }

    .contact_picture {
        
        display: none;
    }
}

@media only screen and (min-width: 992px) {

    .contact_panel_socials {

        display: flex;
        flex-direction: column;
    }

    .contact_icon {
       
        margin: 10% !important;
        #max-height: 40px !important;
    }

    .contact_picture {
        
        max-height: 100% !important;
        max-width: 100% !important;

        height: auto;
        width: auto;
    }
}


.contact_panel_data {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.contact_title{
	color: #222;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: bolder;
	font-size: 250%;
	line-height: 60px;

	position: relative;
	height: auto;
	width: auto;
	top: auto;
	left: auto;
	margin: 20px auto;
	
}

.contact_text{
	color: #3E3E3E;
	font-family: 'Poppins', sans-serif;
	scrollbar-width: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 36px;
	text-align: center;
	overflow: auto;

	position: relative;
	top: auto;
	left: auto;
	height: auto;
	width: auto;
	margin: 5% auto;

}
