.http-err {
	margin-top: 5%;
	font-family: sans-serif,Poppins;
	font-size: 5vh;
}

.http-err-msg {
	margin-top: 10%;
	position: relative;
	width: 70%;
}

.home-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	text-decoration: none !important;

	position: relative;
	width: 35%;
	max-width: 250px;
	min-width: 200px;
	height: auto;
	max-height: 100px;
	min-height: 70px;
	left: auto;
	top: auto;

	/* black */

	background: #3E3E3E;
	border-radius: 30px;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 30px auto;
}

.home-button-text{
	position: relative;
	width: 218px;
	height: 38px;
	/*left: 7px;*/
	/*top: 1px;*/
	font-family: sans-serif,Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 60%;
	line-height: 37px;
	/* identical to box height */

	align-items: center;
	text-align: center;

	color: #FFFFFF;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}