/* UPCOMING EVENTS */
.heading {
    position: absolute;
    font-family: sans-serif,Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    
    color: #000000;    
}
