.upcoming-events-container {
    padding: 0.5vw 5vw 0vw 10vw !important;
}

.upcoming-events-card {
    border-radius: 0.8vw !important;
    text-align: left;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 385px;
    margin-top: 30px;
}

.upcoming-events-card-body {
    padding: 1.75rem !important;
}

.upcoming-events-card-title {
    font-family: sans-serif, Poppins;
    font-style: normal;
    font-weight: 550 !important;
    font-size: 2.25rem !important;
}

.upcoming-events-col {
    width: 385px;
    margin-right: 40px;
    margin-top: 20px;
    align-items: left;
}

.upcoming-events-card-subtitle {
    font-size: 1.4rem !important;
}

.upcoming-events-card-text {
    font-family: sans-serif, Poppins;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 1.25rem !important;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;

}

.upcoming-events-card-button {
    border-radius: 20px !important;
}

.upcoming-events-card-button-text {
    font-family: sans-serif, Poppins;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 1.25rem !important;
    color: #FFFFFF
}
